*{
    padding : 0;
    margin : 0;
    box-sizing: border-box;
}

body{
    height: 100 vh;
    width: 100 vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.navigation{
    background-color: #FFC107;
    width: 100vw;
    height: 100vh;
    flex-basis: 10vh;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* margin-bottom: 2.5%; */
}

.main{
    /* padding-left: 20px; */
    /* padding-right: -50px; */
    /* margin-left: 5vw; */
    width: 100vw;
    height: 100vh;
    flex-basis: 87.5vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
    box-sizing: content-box;
}

.project_bar{
    margin-left: 4.5vw;
    margin-top: 5vh;
    width: 91vw;
    height: 12.5vh;
    flex-shrink: 0;
    /* flex-basis: auto; */
    /* background-color: rgb(129, 127, 119); */
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    /* border: 1px solid; */
}

.footer{
    background-color: #FFC107;
    width: 100vw;
    height: 100vh;
    flex-basis: 2.5vh;
}

